/* :root {
    --color-primary: #B8602D;
  --color-accent: #0E2E68;
   --color-background: #080B12; 
   --color-sub-background:#131A2A;
    --color-text: #B8ACD8;

}

* {
  box-sizing: border-box;
  text-align: left;
  background: var(--color-background);
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  color: var(--color-text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
}



body.dark-mode {
  --color-background: #080B12;
  --color-sub-background: #131A2A;
  --color-text: #B8ACD8;
  --color-primary: #B8602D;
  --color-accent: #0E2E68;
  --color-img-background:#06090E;
}

body.light-mode {
  --color-background: #F5F5F5;
  --color-sub-background: #F5F5F5;
  --color-text: #0E2E68;;
  --color-primary: #B8602D;
  --color-accent: #0E2E68;
    --color-img-background:#A190CB;

}

 .navbar-toggler-icon-dark {
  filter: brightness(0) invert(1); /* Makes icon appear white
    




.img-bg{
  background:var(--color-sub-background);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
.context-text{
color:var(--color-primary)
}


p {
  font-size: 1rem;
  line-height: 1.6;
}

/* .navpad{
  padding-top: 70px;
}

.portfoliobg{
  background:  var(--color-sub-background);
}
.bio-button{
  background: var(--color-sub-background);
color: var(--color-text);
}
.form-text {
  color: var(--color-text);
}
.bio-button:hover{
    background: var(--color-primary);
  color: var(--color-accent);

}
.feature-icon .bio-icon{
   color: var(--color-text);
}
body.dark-mode .navbar-toggler-icon {
  background-color:var(--color-text) ;

}
  body.dark-mode  .navbar-toggler{
    border: 2px solid var(--color-sub-background)  ;
  }
.feature-icon:hover{
    color: var(--color-accent);
}
.bio-icon{
    color: var(--color-text);
      background: var(--color-sub-background)
}
.bio-icon:hover{
    color: var(--color-primary);

}

.port-menu{
 color: var(--color-text);
      background: var(--color-sub-background)
}

.port-menu:hover{
  color: var(--color-primary);
     background: var(--color-sub-background)

}

.progress-bar{
  background:  var(--color-sub-background); 
  color:var(--color-text)
}

.resumelink {
  background-color:  var(--color-sub-background)  !important;
}


.resumelink:hover,
.resumelink:focus {
  background-color: var(--color-primary) !important;
  color: var(--color-accent) ;
  text-decoration: none;
  border: 2px solid  var(--color-primary)
}



.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  border-color: transparent !important;
  background-color: transparent !important;
} 

.card-title {
  color:var(--color-text) ;
     background: var(--color-sub-background);
     font-size:small;
}

.card-description{
  color:var(--color-text) ;
     background: var(--color-sub-background);
      font-size:xx-small;
}


.card-content{
background: var(--color-background);

}

.card-wrapper{
background: var(--color-background);
}

 .card-overlay {
   background-color: var(--color-background);
 }

.card-overlay {
   background: var(--color-sub-background);
}


.card-container.hovered .card-overlay {

   background: var(--color-sub-background);
}

.card-wrapper.hovered .card-overlay {
background: var(--color-sub-background)
}

.nav-tabs .nav-link.active {
  background-color: var(--color-primary) 
  color: var(--color-text) !important;
  border-color: var(--color-primary) var(--color-primary) var(--color-primary) !important;
}


.nav-tabs .nav-link:hover {
  background-color: var(--color-primary);
    color: var(--color-text) !important;
}
 .vr-thick {
    width: 4px !important; 
    background: var(--color-text) ; 
  }
.nav-link{
  color: var(--color-text);
   font-size: 1.2rem;
  line-height: 1.6;
}

.nav-menu{
  color: var(--color-text);
   font-size: 1.2rem;
  line-height: 1.6;
}

.card-overlay{
  background:  var(--color-background);
   background-color:var(--color-background)
}
.nav-menu:hover{
  color: var(--color-text);
  background-color:var(--color-primary) ;
   font-size: 1.3rem;
  line-height: 1.6;
}

.features{
  width: 1000px;
  margin: 10px;
}


.Designrange{
  height:5px;
  border: #242424;
  box-shadow: #242424;
  background-color: rgb(219, 28, 28);;
}

.form-control{
background:var(--color-primary) ;
color:var(--color-text);
}

.form-control:focus{
background:var(--color-primary) ;
color:var(--color-text);
}

.form-control:hover{
background:var(--color-primary) ;
color:var(--color-text);
}


.Educationframe{
margin: 10px;
width: 90%;
border-radius: 10px;


}




.Skillframe{
border-radius: 5px;
margin:30px;
width:290px;
height:300px;
background: var(--color-sub-background);

}
.skill-text{
  background: var(--color-sub-background) ;
  
  
}
.Projectframe{
  position: relative;
 border-radius: 5px;
 margin:30px;
 max-width:300px;
 max-height:200px;
 }
 



 .Skillframe:hover{
 transition: 0.4s ease-in-out;
 background-color: #181818;
 } 



.bg{
  background: var(--color-background)

}

.Projectframe:hover .pImage {
  opacity: 0.2;
}

.Projectframe:hover .middle {
  opacity: 1;
}

.pImage{
  box-shadow: var(--color-accent);
  width:270px;
  height: 190px;
  transition: width 1s, height 1s;
  transition-timing-function: linear;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: transparent;
}
.text {
  font-size: 32px;

  background: transparent;
  color:var(--color-text);
  font-weight: 500;
}

.profile{

  z-index: 3;
}

.profile:hover{
  transform: rotate(20deg);
  background: rgb(25,20,20);
background: linear-gradient(360deg, rgba(25,20,20,0) 40%, rgba(42,54,54,0.5382528011204482) 87%);
}
  .pbox{
    background: rgb(25,20,20);
background: linear-gradient(360deg, rgba(25,20,20,0) 40%, rgba(42,54,54,0.5382528011204482) 87%);
  }
.Resume{
  width:350px;
  height:70px;
  border: 1px solid  #181818;;
box-shadow: 5px 10px 10px #000000;
border-radius: 5px;
background-color: #181818;
}

.Contactframe{
  box-shadow: 5px 10px 18px #000000;
  border-radius: 5px;
  margin:0px;
}

.bio-icon:hover
.textbg{
  background-color:transparent;
}
.grayscale {
-webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
-moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
filter: brightness(1.10) grayscale(100%); 
}


.card-container:hover::after + .card-overlay {
  transform: translateY(0);
}

@media (max-width : 992px) {
 
  
  .offcanvas {
    width : 250px !important;
    background:rgba(16, 45, 53, 0.836) ;
  }

 
}


   */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
